<header class="wrapper">
  <ul class="header-list">
    <li class="header-links">
      <a href="#" class="linkcabecalho"
        ><img src="../../assets/images/logotf.png" alt="Logo" />
      </a>
    </li>
    <li class="header-links"><a href="#" class="link-cabecalho"> Inicio</a></li>
    <li class="header-links">
      <a href="#sobre" class="link-cabecalho"> Sobre</a>
    </li>
    <li class="header-links">
      <a href="#habilidades" class="link-cabecalho"> Roles</a>
    </li>
    <li class="header-links">
      <a href="#rodape" class="link-cabecalho"> Contato</a>
    </li>
    <li class="header-links">
      <a [routerLink]="['/cats']" routerLinkActive="router-link-active"  class="link-cabecalho"> Gatos</a>
    </li>
  </ul>
</header>
