<header class="wrapper">
  <ul class="header-list">
    <li class="header-links">
      <a href="#" class="linkcabecalho"
        ><img src="../../assets/images/logotf.png" alt="Mery pff" />
      </a>
    </li>
    <li class="header-links"><a href="#" class="link-cabecalho"> Inicio</a></li>
    <li class="header-links"><a href="#" class="link-cabecalho"> Sobre</a></li>
    <li class="header-links"><a href="#" class="link-cabecalho"> Roles</a></li>
    <li class="header-links">
      <a href="#" class="link-cabecalho"> Contato</a>
    </li>
  </ul>
</header>
