<footer class="wrapper">
  <div class="container">
    <div class="social-media">
      <ul class="social-media-links">
        <li class="social-media-list">
          <img
            src="../../assets/images/facebook.svg"
            alt="Facebook"
            class="social-media-image"
          />
        </li>
        <li class="social-media-list">
          <img
            src="../../assets/images/twitter.svg"
            alt="Twitter"
            class="social-media-image"
          />
        </li>
        <li class="social-media-list">
          <img
            src="../../assets/images/instagram-sketched.svg"
            alt="Instagram"
            class="social-media-image"
          />
        </li>
      </ul>
    </div>
    <a href="#" class="link-footer">
      <img src="../../assets/images/logotf.png" alt="logo" class="logo" />
    </a>
    <p class="contact">Contato: (13) 1234-5678</p>
  </div>
</footer>
