.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  min-width: 1000px;
}
.cat-title {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cats-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cat-image {
  max-width: 200px;
  min-width: 200px;
  max-height: 200px;
  min-height: 200px;
  padding: 5px;
}
