<article class="wrapper">
  <section class="presentation-content">
    <h1 class="presentation-title">
      Desenvolvimento com <span class="gray-text">Personalidade</span>
    </h1>
    <p class="presentation-text">
      Em meio aos meus estudos de desenvolvimento, também tenho interesse em
      E-sports e sou jogador de longa data de League of Legends. São anos de
      experiencia e ensino.
    </p>
    <a href="#sobre">
      <button class="info-button">Conheça mais sobre mim</button>
    </a>
  </section>
  <picture class="profile-picture">
    <img
      src="../../assets/images/acessameusoundcloudlapacero.png"
      alt="Profile picture"
      class="image"
    />
  </picture>
</article>
