<article class="wrapper" id="sobre">
  <div class="info-header">
    <h1 class="info-title">Sobre mim</h1>
    <ul class="social-media">
      <li>
        <a href="https://facebook.com" target="_blank">
          <img
            src="../../assets/images/facebook.png"
            alt="Facebook"
            class="social-image"
          />
        </a>
      </li>
      <li>
        <a href="https://twitter.com" target="_blank">
          <img
            src="../../assets/images/twitter.png"
            alt="Twitter"
            class="social-image"
          />
        </a>
      </li>
      <li>
        <a href="https://instagram.com" target="_blank">
          <img
            src="../../assets/images/instagram-sketched.png"
            alt="Instagram"
            class="social-image"
          />
        </a>
      </li>
    </ul>
  </div>
  <p class="info-text">
    Meu nome é Thales Henrique Aguiar Felix, venho estudando desenvolvimento ao
    longo do ano e em uma busca do meu aperfeiçoamento, busco sempre aprender o
    máximo e também explorar caminhos novos. Atualmente estou graduando do curso
    Ciências Biológicas na UFU.
  </p>
</article>
