<section class="wrapper">
  <div class="container">
    <div class="form-container">
      <h1>Fale comigo!</h1>
      <p>
        Insira seu email abaixo e entraremos em contato o mais rapido possível!
      </p>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <input
          type="email"
          id="email"
          name="email"
          class="email-form"
          placeholder="seuemail@email.com"
          required
          email
          [(ngModel)]="userEmail.email"
          #email="ngModel"
        />
        <div *ngIf="!email.valid && email.touched" class="error-message">
          Email inválido. Por favor insira um email válido!
        </div>
        <div *ngIf="email.valid && email.touched" class="success-message">
          Email enviado. Entrarei em contato em breve!
        </div>
      </form>
    </div>
    <div>
      <img
        src="../../assets/images/mail.svg"
        alt="email-image"
        class="email-image"
      />
    </div>
  </div>
</section>
